<html>
<head>
</head>
<body>
   <h2> NodeSQL CSV example page</h2>
   <p> This is sample page of predefined SQL queries to extract data from
     MySQL sample database of Employees, not all data maybe present in demo dataset.
     Therefore, don't be surprised not to see some data you had seen before(Assuming you used
     the database before).</p>
     <a href="/generateCSV"> CSV example</a>



     <form action="/generateCSV/departmentManagers" method="post">

   <input type="submit" value="Submit"> Deparment Managers</input>
 </form>
</body>
</html>
